In [23]:
import pandas as pd
file_path = r"C:\Users\nidhi\OneDrive\Desktop\projects\DA\Toyota.csv.csv"
#Read the CSV file
toyota = pd.read_csv(file_path)
# Print the DataFrame
print(toyota)

      Price  Age      KM FuelType   HP  MetColor  Automatic    CC  Doors  \
0      7750   43  178858      CNG  110         0          0  1600      3
1     11950   39   98823      CNG  110         1          0  1600      5
2     11950   37   82743      CNG  110         1          0  1600      5
3     14950   44   71793      CNG  110         1          0  1600      4
4     12950   44   41499      CNG  110         1          0  1600      5
...     ...  ...     ...      ...  ...       ...        ...   ...    ...
1431   7500   69   20544   Petrol   86         1          0  1300      3
1432  10845   72   19000   Petrol   86         0          0  1300      3
1433   8500   71   17016   Petrol   86         0          0  1300      3
1434   7250   70   16916   Petrol   86         1          0  1300      3
1435   6950   76       1   Petrol  110         0          0  1600      5

      Weight
0       1084
1       1119
2       1121
3       1067
4       1103
...      ...
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

[1436 rows x 10 columns]

In [7]:
#displaying first five rows of data file
print( toyota.head())

   Price  Age      KM FuelType   HP  MetColor  Automatic    CC  Doors  Weight
0   7750   43  178858      CNG  110         0          0  1600      3    1084
1  11950   39   98823      CNG  110         1          0  1600      5    1119
2  11950   37   82743      CNG  110         1          0  1600      5    1121
3  14950   44   71793      CNG  110         1          0  1600      4    1067
4  12950   44   41499      CNG  110         1          0  1600      5    1103

In [10]:
#displaying last five rows of data file
print( toyota.tail())

      Price  Age     KM FuelType   HP  MetColor  Automatic    CC  Doors  \
1431   7500   69  20544   Petrol   86         1          0  1300      3
1432  10845   72  19000   Petrol   86         0          0  1300      3
1433   8500   71  17016   Petrol   86         0          0  1300      3
1434   7250   70  16916   Petrol   86         1          0  1300      3
1435   6950   76      1   Petrol  110         0          0  1600      5

      Weight
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

In [12]:
#to display intermediate lines of data
file_path = r"C:\Users\nidhi\OneDrive\Desktop\projects\DA\Toyota.csv.csv"
#Read the CSV file
toyota = pd.read_csv(file_path) #alredy done writing just for referance
# Print the Data
print (toyota[0:4]) #first 4 observations
print(toyota[4:10]) #5th to 9th observations

   Price  Age      KM FuelType   HP  MetColor  Automatic    CC  Doors  Weight
0   7750   43  178858      CNG  110         0          0  1600      3    1084
1  11950   39   98823      CNG  110         1          0  1600      5    1119
2  11950   37   82743      CNG  110         1          0  1600      5    1121
3  14950   44   71793      CNG  110         1          0  1600      4    1067
   Price  Age      KM FuelType   HP  MetColor  Automatic    CC  Doors  Weight
4  12950   44   41499      CNG  110         1          0  1600      5    1103
5   8500   55  150000      CNG  110         1          0  1600      3    1075
6   9250   48  142130      CNG  110         0          0  1600      5    1119
7  11500   47   78785      CNG  110         1          0  1600      5    1119
8   8450   64  144000      CNG  110         1          0  1600      3    1065
9   8950   59  137050      CNG  110         1          0  1600      3    1078

In [13]:
toyota[4:10]

   Price  Age      KM FuelType   HP  MetColor  Automatic    CC  Doors  Weight
4  12950   44   41499      CNG  110         1          0  1600      5    1103
5   8500   55  150000      CNG  110         1          0  1600      3    1075
6   9250   48  142130      CNG  110         0          0  1600      5    1119
7  11500   47   78785      CNG  110         1          0  1600      5    1119
8   8450   64  144000      CNG  110         1          0  1600      3    1065
9   8950   59  137050      CNG  110         1          0  1600      3    1078

In [22]:
#for exporting one file to another
# Assuming dframe is your DataFrame
dframe = pd.DataFrame({'Column1': [1, 2, 3], 'Column2': ['A', 'B', 'C']})

# Export dframe DataFrame to a CSV file named "nidhi.csv"
dframe.to_csv('nidhi.csv', index=False)

In [26]:
file_path = r"C:\Users\nidhi\OneDrive\Desktop\projects\DA\Toyota.csv.csv"
#Read the CSV file
toyota = pd.read_csv(file_path) #alredy done writing just for referance
print(toyota.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1436 non-null   int64
 2   KM         1436 non-null   int64
 3   FuelType   1436 non-null   object
 4   HP         1436 non-null   int64
 5   MetColor   1436 non-null   int64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   int64
 9   Weight     1436 non-null   int64
dtypes: int64(9), object(1)
memory usage: 112.3+ KB
None

In [28]:
file_path = r"C:\Users\nidhi\OneDrive\Desktop\projects\DA\Toyota.csv.csv"
toyota = pd.read_csv(file_path) 
weight = toyota['Weight']
print(weight)

0       1084
1       1119
2       1121
3       1067
4       1103
        ...
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114
Name: Weight, Length: 1436, dtype: int64

In [29]:
print( weight.head())

0    1084
1    1119
2    1121
3    1067
4    1103
Name: Weight, dtype: int64

In [31]:
file_path = r"C:\Users\nidhi\OneDrive\Desktop\projects\DA\Toyota.csv.csv"
toyota = pd.read_csv(file_path) 
subset = toyota[['Price','Age','KM']]
print( subset.head())

   Price  Age      KM
0   7750   43  178858
1  11950   39   98823
2  11950   37   82743
3  14950   44   71793
4  12950   44   41499

In [32]:
print( toyota.loc[0])

Price          7750
Age              43
KM           178858
FuelType        CNG
HP              110
MetColor          0
Automatic         0
CC             1600
Doors             3
Weight         1084
Name: 0, dtype: object

In [33]:
print( toyota.loc[[0,99,10]])

    Price  Age      KM FuelType   HP  MetColor  Automatic    CC  Doors  Weight
0    7750   43  178858      CNG  110         0          0  1600      3    1084
99   6950   58  205000   Diesel   72         1          0  2000      4    1100
10   7950   67  135337      CNG  110         1          0  1600      5    1120

In [34]:
toyota.iloc[99] #100th row

Price          6950
Age              58
KM           205000
FuelType     Diesel
HP               72
MetColor          1
Automatic         0
CC             2000
Doors             4
Weight         1100
Name: 99, dtype: object

In [35]:
toyota.iloc[-1] #last row , this we can't do with loc

Price          6950
Age              76
KM                1
FuelType     Petrol
HP              110
MetColor          0
Automatic         0
CC             1600
Doors             5
Weight         1114
Name: 1435, dtype: object

In [39]:
subset=toyota.loc[:,['Age','Price']]#for rows
print(subset.head())
print(subset.tail())

   Age  Price
0   43   7750
1   39  11950
2   37  11950
3   44  14950
4   44  12950
      Age  Price
1431   69   7500
1432   72  10845
1433   71   8500
1434   70   7250
1435   76   6950

In [41]:
#for columns
subset=toyota.iloc[:,[2,4,-1]]
print(subset)

          KM   HP  Weight
0     178858  110    1084
1      98823  110    1119
2      82743  110    1121
3      71793  110    1067
4      41499  110    1103
...      ...  ...     ...
1431   20544   86    1025
1432   19000   86    1015
1433   17016   86    1015
1434   16916   86    1015
1435       1  110    1114

[1436 rows x 3 columns]

In [42]:
small_range= list(range(5))
print( small_range)

[0, 1, 2, 3, 4]

In [45]:
small_range= list(range(5))
subset=toyota.iloc[:, small_range]
print(subset.head())

   Price  Age      KM FuelType   HP
0   7750   43  178858      CNG  110
1  11950   39   98823      CNG  110
2  11950   37   82743      CNG  110
3  14950   44   71793      CNG  110
4  12950   44   41499      CNG  110

In [47]:
print( toyota.loc[5 ,'FuelType'])

CNG

In [49]:
#particular rows and columns
print( toyota.iloc[[0,99,999] ,[1,3,5]]) #isme column no ki jagah derect column name bhi de skte hai

     Age FuelType  MetColor
0     43      CNG         0
99    58   Diesel         1
999   61   Petrol         1

In [52]:
print(toyota.groupby('FuelType')['Price'].mean())

FuelType
CNG        9421.176471
Diesel    11294.554839
Petrol    10679.310127
Name: Price, dtype: float64

In [57]:
import pandas as pd
print(toyota.groupby('FuelType')['Age'].nunique())

FuelType
CNG       16
Diesel    56
Petrol    76
Name: Age, dtype: int64